//Contact us
.bg-contact {
  background-repeat: no-repeat;
}

.looking-form {
  display: grid;

  @include media-breakpoint-up(lg) {
    gap: 15rem;
    grid-template-columns: minmax(auto, 40%) 1fr;
  }

  .h3 {
    font-weight: 400;
    font-size: 2rem;
  }

  &-start {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &-end {}

  .looking-for {
    display: flex;
    align-items: center;
    gap: 0.5rem;


    @include media-breakpoint-up(lg) {
      gap: 1.5rem;
    }

    &-item {
      padding: 1rem;
      color: $txt-black;
      border-radius: 50%;
      aspect-ratio: 1/1;
      width: calc(1.5rem + 22vw);
      // height: calc(1.5rem + 18vw);
      gap: 0;
      cursor: pointer;
      @include btn-hover;
      background-color: $bg-light;

      &:is(:hover, :focus, :active, .active) {
        @include bg-brand;
      }

      &:has(.looking-for-checkbox:checked) {
        @include bg-brand;
      }

      @include media-breakpoint-up(lg) {
        padding: 2rem 1rem;
      }
    }

    &-checkbox {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
    }

    .svg {
      margin-bottom: 5px;
      width: 1rem;
      height: 1rem;

      @include media-breakpoint-up(lg) {
        width: 2.5rem;
        height: 2.5rem;
        margin-bottom: 10px;
      }
    }

    &-title {
      white-space: nowrap;
      position: relative;
      z-index: 1;

      font-size: 1rem;

      @include media-breakpoint-up(lg) {
        font-size: 1.5rem;
      }
    }

    &-price {

      position: relative;
      z-index: 1;
      font-size: 0.75rem;

      @include media-breakpoint-up(lg) {
        font-size: 0.85rem;
      }
    }
  }

  .selected-room {
    font-size: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    border-bottom: solid 1px #000;
    margin-top: 2rem;
    padding-bottom: 1.5rem;
  }

  .broker-free {

    font-size: 0.9rem;
  }

  .btn-visit {
    @include bg-brand;
    border: none;
    border-radius: 0;
    padding: 1rem;
    margin: 0;
    width: 100%;
    font-size: 1.2rem;

    margin-bottom: 1.5rem;
    cursor: pointer;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
  }
}

.dropdown-toggle-custom {
  cursor: pointer;
  border: none;
  position: relative;

  &-arrow {
    margin-top: -3px;

    &:after,
    &:before {
      content: "";
      position: absolute;
      background-color: currentColor;
      width: 2px;
      height: 9px;
      transition: all 0.25s ease-in-out;
    }

    &:before {
      transform: translate(0px, 0) rotate(45deg);
    }

    &:after {
      transform: translate(-6px, 0px) rotate(-45deg);
    }
  }

  &[aria-expanded="true"] {
    .dropdown-toggle-custom-arrow {
      &:before {
        transform: translate(-6px, 0px) rotate(45deg);
      }

      &:after {
        transform: translate(0px, 0) rotate(-45deg);
      }
    }
  }
}

.section-map {
  position: relative;
  background-color: #f1f1f5;
  color: $txt-black;

  .map {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
  }

  &-data {}

  .list-near {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;

    a {
      border-radius: 50%;
      aspect-ratio: 1/1;
      width: 2.5rem;
      height: 2.5rem;
      color: #fff;

      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
    }
  }

  .list-commute {
    display: flex;
    align-items: normal;
    flex-direction: column;
    gap: 1rem;

    &-item {
      flex: 1;
    }

    a {

      font-size: calc(0.75rem + 0.22222vw);
      font-weight: 400;
      color: $txt-body;
      text-decoration: none;
      padding: 1rem;
      display: flex;
      gap: 10px;
      width: 100%;
      border-radius: 5px;
    }
  }
}

.address-block {
  position: relative;
  background-color: #fff;
  border-radius: 0;
  padding: 2rem;
  max-width: 500px;
  box-shadow: 0px 0px 12px #00000029;

  .block-data+.block-data {
    margin-top: 2rem;
  }

  h3 {
    font-weight: 400;
    font-size: 1.8rem;
    color: $txt-body;
    padding-bottom: 1rem;
  }
}