.contact-us {
    display: flex;
    //align-items: center;
    justify-content: space-between;
    gap: 5rem;

    &-form {
        flex: 0 0 70%;
        max-width: 70%;
    }

    &-data {
        flex: 1;
    }

    &-block {
        &+& {
            margin-top: 4rem;
        }
    }

    &-title {
        font-size: 4rem;
        font-weight: 500;
        padding: 0;
        margin: 0;
        //line-height: 1;
    }

    &-dec {
        font-size: 1.5rem;
    }

    .form-contact {
        margin-top: 2rem;
    }
}