//gallery page

.filter-tabs {
  background-color: $bg-light;
  border-radius: 60px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  //justify-content: space-between;
  gap: 0;
  max-width: 700px;
  margin: 0 auto;
  padding: 0.8rem;
  margin-bottom: $section-padding;

  //height: 100vh;
  @include media-breakpoint-up(lg) {
    gap: 10px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: calc(1rem + 3vw);
    overflow-x: auto;
  }

  &-btn {
    color: #000;
    padding: 0.7rem 2rem;
    border: none;
    border-radius: 60px;

    font-size: 0.85rem;
    cursor: pointer;
    @include btn-hover;

    @include media-breakpoint-up(lg) {
      min-width: 150px;
      font-size: 1.2rem;
    }

    @include media-breakpoint-down(sm) {}

    span {
      color: currentColor;
      position: relative;
      z-index: 1;
    }
  }
}

.gallery {
  margin: 0;
  column-count: 2;
  column-gap: 5px;

  //column-width: 33.33333333333333%;
  .tile {
    display: none;

    a {
      position: relative;

      &::after {
        content: "";
        opacity: 0;
        transition: 500ms ease-out;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: scale(0.8) translate(-50%, -50%);
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
        display: block;
        background-color: rgba(0, 0, 0, 0.5);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        background-image: url("../images/icons/maximize.svg");
      }

      &:hover {
        &::after {
          opacity: 1;
          transform-origin: center;
          transform: scale(1.1) translate(-50%, -50%);
        }
      }
    }
  }

  .scale-anm {
    width: 100%;
  }

  .tile {
    overflow: hidden;

    img {
      max-width: 100%;
      height: auto;
      display: block;
      width: 100%;
      transition: 0.3s;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}