.neighborhood-page {
  .neighborhood-grid-item {
    overflow: visible;
  }

  .neighborhood-grid-figure {
    height: 96%;
  }
}

//neighborhood-map
.neighborhood-map {
  position: relative;
  height: 700px;

  .map {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

.location-list {
  margin: 3rem 0;
  column-count: 5;
}

.mobile-only {
  @include media-breakpoint-up(sm) {
    display: none !important;
  }
}

.mobile-hide {
  @include media-breakpoint-down(sm) {
    display: none !important;
  }
}

.mobile-location-list {
  // background: none;
  // background: url(/assets/images/icons/small-white-arrow-down-2.svg) 100% 50%
  //   no-repeat;
  background-color: transparent;
  color: #000;
  border: 0;
  border: 1px solid #000;
  border-radius: 0;
  display: block;
  font-size: 0.85rem;
  font-style: normal;
  padding: 0.5rem;
  margin-top: 0.5rem;
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .location-list {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}

.location-list h3,
.location-list li,
.location-category-wrap.cat-2,
.location-category-wrap.cat-3,
.location-category-wrap.cat-4,
.location-category-wrap.cat-9 {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.location-list ul {
  -webkit-column-break-before: avoid;
  page-break-before: avoid;
  break-before: avoid;
}

.location-list h3 {
  -webkit-column-break-after: avoid;
  page-break-after: avoid;
  break-after: avoid;
}

.location-list h3 {

  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.location-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.location-list ul li {
  margin-bottom: 11px;
  font-size: 0.85rem;
}

@media screen and (min-width: 1101px) {
  .location-list ul li.location-31 {
    padding-top: 32px;
  }
}

.location-list ul li a {
  text-decoration: none;
}

.location-list ul li a:hover {
  text-decoration: underline;
}

.location-category-wrap {
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 650px) {
  .location-list {
    column-count: 1;
    margin: 30px 0;
    padding: 0;
  }

  .location-category-wrap {
    border-bottom: 1px solid #000;
    padding: 10px 0;
  }

  .location-category-wrap h3 {
    margin: 0;
    position: relative;
  }

  .location-list ul {
    padding-top: 10px;
    display: none;
  }
}