$section-padding: clamp(2rem, 5vw, 10rem);

.footer {
  @include media-breakpoint-up(lg) {
    position: sticky;
    bottom: -1px;
    z-index: 0;
  }

  // padding: $section-padding;
  &-logo {
    margin-left: auto;
    margin-bottom: -4px;

    @include media-breakpoint-up(lg) {
      max-width: 450px;

      img {
        max-width: 100%;
      }
    }
  }


  &-top {
    @include bg-brand;
    background-color: $bg-brand !important;

    padding-bottom: 0 !important;
  }

  .lets-connect {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-start {
      max-width: 50%;
    }

    .btn {
      line-height: 1.4;
      height: auto;
      gap: 1.5rem;
      font-size: 1.88rem;
      padding: 0.5rem 2rem;
    }
  }


}

.footer-bottom {
  padding: 0.5rem 0;

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  &-item {
    font-weight: 300;
  }

  p {
    color: #000;
    font-size: 1.125rem;
    padding: 0.5rem 0;

  }

  .address {
    text-align: start;
  }

  .short-links {
    text-align: center;

    a {
      @include underline;

      &:hover {
        color: #000;
      }
    }
  }

  .copyright {
    text-align: end;
  }
}