$header-height: 116px;

.header {
  background-color: transparent;
  color: #fff;
  position: absolute;
  height: 100px;
  z-index: 100;
  width: 100%;
  left: 0;
  right: 0;
  border: none;
  opacity: 1;
  display: flex;
  align-items: center;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  will-change: transition;
  animation: fadein 2s ease forwards;
  visibility: hidden;
  animation-delay: 1.5s;

  @keyframes fadein {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
      visibility: initial;
    }
  }

  &-shadow {
    &::after {
      content: "";
      background: transparent linear-gradient(180deg, #000000E6 0%, #54545400 100%) 0% 0% no-repeat padding-box;
      position: absolute;
      z-index: -2;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 300px;
      transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
      pointer-events: none;
    }
  }

  &-inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: none;

    // mix-blend-mode: difference;
    @include media-breakpoint-up(lg) {}
  }

  .logo {
    display: flex;
    width: auto;
    max-width: 260px;

    @include media-breakpoint-down(sm) {}
  }

  .menu-button {
    background-color: #fff;
    border: none;
    border-radius: 50px;
    display: flex;
    gap: 0.4rem;
    align-items: center;
    padding: 0.75rem 1.125rem;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;

    .svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

}