.mobile-actions {
  font-size: 0.8rem;
  display: none;

  @include media-breakpoint-down(lg) {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(3px);
    box-shadow: 0 -10px 30px 0 rgba(111, 111, 111, 0.1);
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $zindex-fixed;

    &-item {
      flex: 1 1 0%;

      &.active {
        // background-image: linear-gradient($secondary-color, $secondary-color);
        // background-position: 100% 0;
        // background-repeat: no-repeat;
        // background-size: 100% 2px;
        // transition: background-size 0.3s;
      }
    }

    &-link {
      margin: 0 auto;
      border: none;
      background-color: transparent;
      padding: 1rem 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
      color: $txt-body;

      .svg {
        width: 20px;
        height: 20px;
      }

      &:is(:hover, :focus, :active) {
        color: $txt-brand;
      }
    }
  }

  .txt {
    font-weight: $font-weight-bold;
    margin-top: 5px;
  }
}

.offcanvas-mbl {
  max-width: 320px;

  .offcanvas-body {
    position: relative;
    padding: 0;
  }

  .offcanvas-foot {
    padding: 1rem;
  }

  .btn-close {
    position: absolute;
    #{$end-direction}: 0;
    top: 0;
    margin: 1rem;
  }
}

.profile {
  background-color: $bg-gray;
  color: $txt-body;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  grid-gap: 1rem;
  font-size: 0.8rem;

  &-image {
    margin-bottom: 1rem;
  }

  &-avatar {
    border-radius: 50%;
    max-width: 80px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.33);
    // box-shadow: $shadow1;
  }

  &-name {
    font-weight: $font-weight-normal;
    font-size: 1rem;
  }

  &-email,
  &-phone {
    font-weight: $font-weight-regular;
    font-size: 0.8rem;
  }
}

.account-nav {
  display: flex;
  flex-direction: column;
  font-size: 1rem;

  &-item {
    border-bottom: $border;
  }

  &-link {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
  }

  .icon {
    display: inline-block;
    font-size: inherit;
    font-style: normal;
    height: 1em;
    position: relative;
    text-indent: -9999px;
    vertical-align: middle;
    width: 1em;
    font-size: 0.8rem;
    transform: scale(1);
    margin-#{$start-direction}: auto;

    &::before {
      content: "";
      display: block;
      left: 50%;
      position: absolute;
      top: 50%;
      border: 0.1rem solid currentColor;
      border-bottom: 0;
      border-right: 0;
      height: 0.65em;
      width: 0.65em;
      transform: translate(-75%, -50%) rotate(135deg);
    }
  }
}

.btn-logout {
  display: block;
  width: 100%;
  background-color: $brand-color;
  color: $brand-color-inverse;
  //border-radius: $common-radius;
  border-radius: $card-radius;
}