 $btn-gap: 0.5rem;
 $btn-padding: 0 2rem;
 $btn-height: 3rem;
 $btn-border: solid 1px transparent;
 $btn-radius: 60px;
 $btn-font-size: 1.125rem;
 $btn-font-weight: $font-weight-normal;
 $btn-line-height: $btn-height;
 $btn-hover-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
   0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
 $btn-focus-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
   0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
 $btn-active-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
   0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

 .btn {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   border: $btn-border;
   padding: $btn-padding;
   height: $btn-height;
   border-radius: $btn-radius;
   font-size: $btn-font-size;
   font-weight: $btn-font-weight;
   line-height: $btn-line-height;
   white-space: nowrap;
   gap: $btn-gap;

   @include media-breakpoint-up(lg) {}

   &-lg {
     height: $btn-height + 0.375rem;
   }

   &:hover {
     text-decoration: none !important;
     box-shadow: $btn-hover-shadow;
   }

   &:focus {
     outline: none !important;
     box-shadow: $btn-focus-shadow;
   }

   &:active {
     box-shadow: $btn-active-shadow;
   }

   &:disabled {
     background-color: #ccc;
     pointer-events: none;
     opacity: 1;
     border-color: #ccc;
   }

   &-brand {
     @include bg-brand;
     border-color: $brand-color;

     &:hover {
       color: $brand-color-inverse;
     }
   }

   &-outline-brand {
     background-color: transparent;
     border-color: $brand-color;
     color: $txt-brand;

     &:hover {
       color: currentColor;
       @include bg-brand;
     }
   }

   &-white {
     background-color: $bg-white;
     color: $txt-black;

     &:hover {
       color: $txt-black;
     }
   }

   &-outline-white {
     background-color: transparent;
     border-color: #fff;
     color: #fff;

     &:hover {
       color: currentColor;
     }
   }

   &-secondary {
     background-color: $secondary-color;
     border-color: $secondary-color;
     color: $secondary-color-inverse;

     &:hover {
       color: $secondary-color-inverse !important;
     }
   }

   &-outline-secondary {
     background-color: transparent;
     border-color: $secondary-color;
     color: $secondary-color;

     &:hover {
       @include bg-brand;
       border-color: $bg-brand;
     }
   }

   &-black {
     background-color: #000;
     border-color: #000;
     color: #fff;

     &:hover {
       color: #fff;
     }
   }

   &-outline-black {
     background-color: transparent;
     border-color: #000;
     color: $txt-body;

     &:hover {
       @include bg-black;
     }
   }

   &-outline-gray {
     background-color: transparent;
     border-color: $border-color;
     color: $txt-body;

     &:hover {
       color: currentColor;
     }
   }

   &-block {
     // display: block;
     width: 100% !important;
   }

   &-wide {
     padding-#{$start-direction}: 2rem !important;
     padding-#{$end-direction}: 2rem !important;
   }

   &-add {
     border-radius: $btn-radius;
   }

   &-sm {
     height: auto;
     padding: 0.25rem 1rem;
     font-size: 0.875rem;
     line-height: 1.5;

     //border-radius: 0.2rem;
   }

   &-arrow {
     gap: 6px;

     .svg {
       width: 12px;
       height: 12px;
       margin-top: -4px;
     }
   }



   &-icon {
     gap: 1.5rem;

     .svg {
       width: 20px;
       height: 20px;
       flex: 0 0 20px;
       max-width: 20px;
     }
   }

   &-link {
     border: none;
     background-color: transparent;
     text-decoration: none;
     height: auto;
     padding: 0;
     line-height: normal;

     &:disabled {
       background-color: transparent;
       color: $brand-color;
     }

     .arrow {
       display: inline-block;
       transition: all 0.2s ease-in-out;

       .svg {
         width: 12px;
         height: 12px;
         margin-#{$end-direction}: 5px;
         fill: currentcolor;
       }
     }

     &:hover {
       box-shadow: none;

       .arrow {
         transform: translateX(0.25rem);
       }
     }

     &:focus {
       box-shadow: none;
     }
   }

   &-underline {
     background-color: transparent;
     border: none;
     color: $brand-color;
     text-align: inherit;
     padding: 0;
     margin: 0;
     text-decoration: underline;
   }

   .icn {
     svg {
       width: 16px;
       height: 16px;
       fill: currentColor;
     }
   }
 }

 .btns-group {
   display: inline-flex;
   flex-wrap: wrap;
   gap: 2rem;
 }

 .btn-back {
   padding: 0;
   width: 40px;
   flex-shrink: 0;
   height: 40px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   background-color: $bg-gray;
   border-radius: 50%;

   &:is(:hover, :focus, :active) {
     background-color: darken($bg-gray, 05);
   }

   .svg {
     [dir="rtl"] & {
       transform: scaleX(-1);
     }
   }
 }

 //.btn-icon-right

 .btn-icon-right {
   display: inline-block;
   $size: 2.75rem;

   font-size: 1rem;
   color: $txt-brand;
   background-color: transparent !important;
   padding: 0;
   line-height: $size;
   white-space: nowrap;
   margin-left: 0.85rem;

   @include media-breakpoint-up(lg) {
     font-size: 1.5rem;
   }

   &:is(:hover, :focus, :active, .active) {

     // color: $txt-black;
     .arrow svg {
       transform: translateX(2rem);
     }
   }

   span {
     transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
     will-change: transition;
     display: inline-block;
     line-height: $size;
     vertical-align: middle;
   }

   .arrow {
     position: relative;
     height: $size;
     width: $size;
     border: $border-brand;
     border-radius: 100%;
     margin-right: 1rem;
     opacity: 1;
     transition-delay: 0.3s;
     transform: translateX(0rem);

     svg {
       aspect-ratio: 1/1;
       width: 50px;
       height: 50px;
       transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
       will-change: transition;
       position: absolute;
       top: 50%;
       margin-top: -25px;
       left: -20px;
     }
   }

   .arrow+span {
     transform: translateX(0rem);
   }
 }

 .btn-icon-left {
   display: inline-block;
   $size: 2.75rem;

   font-size: 1rem;
   color: $txt-brand;
   background-color: transparent !important;
   padding: 0;
   line-height: $size;
   white-space: nowrap;
   margin-left: 0.85rem;

   @include media-breakpoint-up(lg) {
     font-size: 1.5rem;
   }

   &:is(:hover, :focus, :active, .active) {

     // color: $txt-black;
     .arrow svg {
       transform: translateX(-2rem);
     }
   }

   span {
     transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
     will-change: transition;
     display: inline-block;
     line-height: $size;
     vertical-align: middle;
   }

   .arrow {
     position: relative;
     height: $size;
     width: $size;
     border: $border-brand;
     border-radius: 100%;
     margin-right: 1rem;
     opacity: 1;
     transition-delay: 0.3s;
     transform: translateX(0rem);

     svg {
       aspect-ratio: 1/1;
       width: 50px;
       height: 50px;
       transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
       will-change: transition;
       position: absolute;
       top: 50%;
       margin-top: -25px;
       right: -20px;
     }
   }

   .arrow+span {
     transform: translateX(0rem);
   }
 }

 $size: 4rem;
 $size-sm: 3rem;

 //.btn-theme
 .btn-theme {
   text-align: left;
   position: relative !important;
   background-color: transparent;
   border: 1px solid $brand-color;
   border-radius: 50%;
   cursor: pointer;
   height: $size-sm;
   width: $size-sm;
   min-width: $size-sm;
   aspect-ratio: 1/1;
   padding: 0;
   margin: 0;
   transition: background-color 0.25s ease-in-out, opacity 0.25s ease-in-out;

   @include media-breakpoint-up(lg) {
     height: $size;
     width: $size;
     min-width: $size;
   }

   .arrow {
     transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
     will-change: transition;
     position: absolute;
     top: 50%;
     margin-top: -$size-sm / 2;
     width: $size-sm;
     height: $size-sm;

     @include media-breakpoint-up(lg) {
       margin-top: -$size / 2;
       width: $size;
       height: $size;
     }

     .svg {
       fill: $brand-color;
       width: 100%;
       height: 100%;
     }
   }

   &-prev {
     .arrow {
       transform: translateX(1rem);
     }

     &:hover {
       .arrow {
         transform: translateX(-1.5rem);

         @include media-breakpoint-up(lg) {
           transform: translateX(-1.5rem);
         }
       }
     }
   }

   &-next {
     .arrow {
       transform: translateX(-1rem);
     }

     &:hover {
       .arrow {
         transform: translateX(1.5rem);
       }
     }
   }

   &[disabled] {
     pointer-events: none;
     opacity: 0.2;
   }
 }