.preloader-container {
  // display: none !important;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #000;
  color: #ffffff82;
  z-index: 1000;
  overflow: hidden;
}

.preloader-container.active_new {
  transform: translateY(-100vh);
  transition: ease-in-out 2s;
  transition-delay: 1s;
}

.preloader-text {
  font-size: 5rem;
  /* opacity: 0; */
  /* animation: fadeInLetter 1s forwards,  scaleIn 1s forwards; */
  top: 50%;
  height: 500px;
  position: absolute;
  width: 100%;
  /* left: 50%; */
  margin: auto;
  text-align: center;
}

/* Animation for individual letters */
.preloader-text span {
  opacity: 0;
  animation: topToBottom 10s forwards;
  transform-origin: center;
  /* Set the transform origin to the center of each letter */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInLetter {
  0% {
    opacity: 0;
    transform: scale(0.8);
    /* Start with a slightly smaller scale */
  }

  100% {
    opacity: 1;
    transform: scale(1);
    /* End with the original scale */
  }
}

@keyframes topToBottom {
  0% {
    transform: translateY(-100%);
    /* Start position above the viewport */
  }

  100% {
    transform: translateY(0);
    /* End position at the center of the viewport */
  }
}

/* Add scale-in animation */
@keyframes scaleIn {
  0% {
    transform: scale(0.8);
    /* Start with a slightly smaller scale */
  }

  100% {
    transform: scale(1);
    /* End with the original scale */
  }
}

/* Add fade-out animation */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Add expandWidth animation */
@keyframes expandWidth {
  0% {
    width: auto;
    /* Start with auto width */
  }

  100% {
    width: 100%;
    /* End with full width */
    letter-spacing: 20px;
  }
}

.loader-container {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.99);
  z-index: 1000;
  overflow: hidden;

  &.active {
    transform: translateY(-100vh);
    transition: ease-in-out 1s;
    transition-delay: 1s;
  }

  // .loader-svg {
  // }

  // svg {
  //   margin: auto;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;
  //   width: 600px;
  //   height: 600px;
  // }
  // .path {
  //   stroke-dashoffset: 1600;
  //   stroke-dasharray: 1600;
  //   -webkit-animation: draw 5s linear;
  //   -moz-animation: draw 5s linear;
  //   animation: draw 5s linear;
  //   fill-opacity: 0;
  //   -webkit-animation-delay: 1.2s;
  //   /* Safari and Chrome */
  //   animation-delay: 1.2s;
  // }

  // .path-first-o {
  //   stroke-dashoffset: 3200;
  //   stroke-dasharray: 3200;
  //   -webkit-animation: draw 5s linear infinite;
  //   -moz-animation: draw 5s linear infinite;
  //   animation: draw 5s linear infinite;
  //   fill-opacity: 0;
  // }

  // @-webkit-keyframes draw {
  //   30% {
  //     stroke-dashoffset: 0;
  //     fill-opacity: 0;
  //   }
  //   50% {
  //     fill-opacity: 1;
  //   }
  //   100% {
  //     stroke-dashoffset: 1;
  //     fill-opacity: 1;
  //   }
  // }

  // @-moz-keyframes draw {
  //   30% {
  //     stroke-dashoffset: 0;
  //     fill-opacity: 0;
  //   }
  //   50% {
  //     fill-opacity: 1;
  //   }
  //   100% {
  //     stroke-dashoffset: 1;
  //     fill-opacity: 1;
  //   }
  // }

  // @keyframes draw {
  //   30% {
  //     stroke-dashoffset: 0;
  //     fill-opacity: 0;
  //   }
  //   50% {
  //     fill-opacity: 1;
  //   }
  //   100% {
  //     stroke-dashoffset: 1;
  //     fill-opacity: 1;
  //   }
  // }

  .draw {
    animation: draw 4000ms ease-in-out infinite;
    stroke: #fff;
    width: 30vw;
    height: auto;
  }

  @keyframes draw {
    0% {
      stroke-dasharray: 0 400;
      stroke-dashoffset: 200;
      fill-opacity: 0;
      stroke-width: 1;
    }

    37% {
      stroke-dasharray: 200 0;
      stroke-dashoffset: 200;
      fill-opacity: 0;
      stroke-width: 1;
    }

    50% {
      fill-opacity: 1;
      stroke-width: 0;
    }

    100% {
      fill-opacity: 1;
      stroke-width: 0;
    }
  }
}