*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: $family-1;
  min-height: 100%;
  height: auto;
  font-size: 16px;
}

html {
  //overflow: hidden;
  scroll-behavior: initial;
  font-size: 16px;

  @include media-breakpoint-up(sm) {
    font-size: 12px;
  }

  @include media-breakpoint-up(md) {
    font-size: 12px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 13px;
  }

  @include media-breakpoint-up(xl) {
    font-size: 14px;
  }

  @include media-breakpoint-up(xxl) {
    font-size: 15px;
  }

  @media (min-width: 1600px) {
    font-size: 16px;
  }
}

@media (min-width: 1600px) {
  .container {
    // max-width: 1440px;
    max-width: 100%;
    padding: 0 5rem;
  }
}

@media (min-width: 1800px) {
  .container {
    //max-width: 1536px;
    max-width: 1600px;
    padding: 0 5rem;
  }
}

@media print {
  .pagebreak {
    clear: both;
    page-break-after: always;
  }
}

body {
  padding: 0;
  margin: 0;

  font-weight: 400;
  // 
  // font-family: "Montserrat", sans-serif;
}

svg {
  fill: currentColor;
}

p {
  line-height: 1.4;
}

.container-fluid {
  max-width: none;
}

:focus {
  //box-shadow: none !important;
  outline: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {

  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

b,
strong {
  font-weight: $font-weight-normal;
}

.strong {
  font-weight: $font-weight-normal;
}

ol,
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

a:hover {
  // color: $txt-brand;
  text-decoration: none;
  transition: all 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.svg {
  fill: currentColor;
}

mark,
.mark {
  padding: 0;
}

// scrolliconmove

@-webkit-keyframes scrollIconMove {
  0% {
    -webkit-transform: translateY(0px);
    -khtml-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }

  30% {
    -webkit-transform: translateY(-40%);
    -khtml-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    -o-transform: translateY(-40%);
    transform: translateY(-40%);
  }

  80% {
    -webkit-transform: translateY(-40%);
    -khtml-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    -o-transform: translateY(-40%);
    transform: translateY(-40%);
  }

  100% {
    -webkit-transform: translateY(0px);
    -khtml-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-moz-keyframes scrollIconMove {
  0% {
    -webkit-transform: translateY(0px);
    -khtml-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }

  30% {
    -webkit-transform: translateY(-40%);
    -khtml-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    -o-transform: translateY(-40%);
    transform: translateY(-40%);
  }

  80% {
    -webkit-transform: translateY(-40%);
    -khtml-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    -o-transform: translateY(-40%);
    transform: translateY(-40%);
  }

  100% {
    -webkit-transform: translateY(0px);
    -khtml-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-ms-keyframes scrollIconMove {
  0% {
    -webkit-transform: translateY(0px);
    -khtml-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }

  30% {
    -webkit-transform: translateY(-40%);
    -khtml-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    -o-transform: translateY(-40%);
    transform: translateY(-40%);
  }

  80% {
    -webkit-transform: translateY(-40%);
    -khtml-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    -o-transform: translateY(-40%);
    transform: translateY(-40%);
  }

  100% {
    -webkit-transform: translateY(0px);
    -khtml-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-o-keyframes scrollIconMove {
  0% {
    -webkit-transform: translateY(0px);
    -khtml-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }

  30% {
    -webkit-transform: translateY(-40%);
    -khtml-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    -o-transform: translateY(-40%);
    transform: translateY(-40%);
  }

  80% {
    -webkit-transform: translateY(-40%);
    -khtml-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    -o-transform: translateY(-40%);
    transform: translateY(-40%);
  }

  100% {
    -webkit-transform: translateY(0px);
    -khtml-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes scrollIconMove {
  0% {
    -webkit-transform: translateY(0px);
    -khtml-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }

  30% {
    transform: translateY(-40%);
  }

  80% {
    transform: translateY(-40%);
  }

  100% {
    transform: translateY(0px);
  }
}

.scroll-down {
  transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  will-change: transition;
  display: flex;
  align-items: center;
  gap: 1rem;

  margin-top: 2rem;

  @include media-breakpoint-up(lg) {
    margin-top: 5rem;
  }

  a {
    transition-delay: 0.9s;
    transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    will-change: transition;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.3rem;
    width: 3.3rem;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 100%;
    // overflow: hidden;
    opacity: 1;

    span {
      transition-delay: 1s;
      transition: transform 2s cubic-bezier(0.63, 0.06, 0.61, 0.99);
      will-change: transition;
      display: block;
      height: 2.75rem;
      width: 2.75rem;
      background: url("../images/icons/scroll_arrow.svg") no-repeat center center;
      transform: translateY(-100%);
      animation: scrollIconMove 2.5s infinite;
      transform: translateY(0%);
    }
  }

  &.hide {
    opacity: 0;
    visibility: hidden;
  }
}

@media (min-width: 1200px) {
  .scroll-down a:hover {
    border-color: rgba(255, 255, 255, 0.9);
  }
}

//

.zcwf_lblLeft .zcwf_privacy {
  padding: 6px;
}

.zcwf_lblLeft .wfrm_fld_dpNn {
  display: none;
}

.wf_customMessageBox {
  font-family: Arial, Helvetica, sans-serif;
  color: #132c14;
  background: #f5faf5;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
  max-width: 90%;
  width: max-content;
  word-break: break-word;
  z-index: 11000;
  border-radius: 6px;
  border: 1px solid #a9d3ab;
  min-width: 100px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}

.wf_customCircle {
  position: relative;
  background-color: #12aa67;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  flex: none;
  margin-right: 7px;
}

.wf_customCheckMark {
  box-sizing: unset !important;
  position: absolute;
  transform: rotate(45deg) translate(-50%, -50%);
  left: 6px;
  top: 9px;
  height: 8px;
  width: 3px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}

.wf_customClose {
  box-sizing: border-box;
  position: relative;
  width: 18px;
  height: 18px;
}

.wf_customClose::after,
.wf_customClose::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 12px;
  height: 1.5px;
  background: #616e88;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px;
}

.wf_customClose::after {
  transform: rotate(-45deg);
}